**READING ZIP CODES BY POPULATION**

In [ ]:
import pandas as pd

df = pd.read_html('https://www.washington-demographics.com/zip_codes_by_population',header=0)
population_df = df[0]
population_df.head()

**COLLECTING POVERTY STATUS DATA FOR AREA ZIP CODE**

In [ ]:
#Read 98007 poverty_status.csv
from google.colab import files
uploaded = files.upload()

Saving 98007 poverty_status.csv to 98007 poverty_status.csv

In [ ]:
import io
povertystatus_df = pd.read_csv(io.BytesIO(uploaded['98007 poverty_status.csv']))
povertystatus_df.head()

In [ ]:
#Read 98290 poverty_status
from google.colab import files
uploaded = files.upload()

Saving 98290 poverty_status.csv to 98290 poverty_status (1).csv

In [ ]:
f98290_ps_df = pd.read_csv(io.BytesIO(uploaded['98290 poverty_status.csv']))
f98290_ps_df.head()

In [ ]:
#Read 98065 poverty status.csv
from google.colab import files
uploaded = files.upload()

Saving 98065 poverty status.csv to 98065 poverty status.csv

In [ ]:
f98065_ps_df = pd.read_csv(io.BytesIO(uploaded['98065 poverty status.csv']))
f98065_ps_df.head()

In [ ]:
#Read 98801 poverty status.csv
from google.colab import files
uploaded = files.upload()

Saving 98801 poverty status.csv to 98801 poverty status.csv

In [ ]:
f98801_ps_df = pd.read_csv(io.BytesIO(uploaded['98801 poverty status.csv']))
f98801_ps_df.head()

In [ ]:
#Read 98104 poverty status.csv
from google.colab import files
uploaded = files.upload()

Saving 98104 poverty status.csv to 98104 poverty status.csv

In [ ]:
f98104_ps_df = pd.read_csv(io.BytesIO(uploaded['98104 poverty status.csv']))
f98104_ps_df.head()

In [ ]:
population_df.shape
population_df.ndim

2

**COLLECTING AREA AGE DATA BY POPULATION**

In [ ]:
 #Read 98007 Age_data.csv
from google.colab import files
uploaded = files.upload()

Saving 98007 Age_data.csv to 98007 Age_data.csv

In [ ]:
f98007_age_df = pd.read_csv(io.BytesIO(uploaded['98007 Age_data.csv']))
f98007_age_df.head()

In [ ]:
#Read 98290 Age_data.csv
from google.colab import files
uploaded = files.upload()

Saving 98290 Age_data.csv to 98290 Age_data.csv

In [ ]:
f98290_age_df = pd.read_csv(io.BytesIO(uploaded['98290 Age_data.csv']))
f98290_age_df.head()

In [ ]:
#Read 98065 age_data.csv
from google.colab import files
uploaded = files.upload()

Saving 98065 age_data.csv to 98065 age_data.csv

In [ ]:
f98065_age_df = pd.read_csv(io.BytesIO(uploaded['98065 age_data.csv']))
f98065_age_df.head()

In [ ]:
#Read 98801 Age data.csv
from google.colab import files
uploaded = files.upload()

Saving 98801 Age data.csv to 98801 Age data.csv

In [ ]:
f98801_age_df = pd.read_csv(io.BytesIO(uploaded['98801 Age data.csv']))
f98801_age_df.head()

In [ ]:
#Read 98104 Age data.csv
from google.colab import files
uploaded = files.upload()

Saving 98104 Age data.csv to 98104 Age data.csv

In [ ]:
f98104_age_df = pd.read_csv(io.BytesIO(uploaded['98104 Age data.csv']))
f98104_age_df.head()

           GEO_ID  ...                                     S0101_C06_038M
0              id  ...  Margin of Error!!Percent Female MOE!!PERCENT A...
1  8600000US98104  ...                                                (X)

[2 rows x 458 columns]

In [ ]:

# check the datatypes of dataframe's columns
population_df.dtypes

Rank          object
Zip Code      object
Population    object
dtype: object

In [ ]:

# check dataframe columns
population_df.columns

Index(['Zip Code', 'Population'], dtype='object')

In [ ]:
# check dataframes statistical summery
population_df.describe()

         Population
count    563.000000
mean   12811.207815
std    14966.393108
min        1.000000
25%      916.500000
50%     5485.000000
75%    23045.500000
max    78767.000000

In [ ]:
# check 1st 5 rows of dataframe
population_df.head()

  Rank Zip Code Population
0    1    99301      78767
1    2    98052      67779
2    3    98012      64417
3    4    98682      58178
4    5    98208      57306

**DATA CLEANING**

In [ ]:
population_df.tail()

                                                  Rank  ...                                         Population
559                                                560  ...                                                 16
560                                                561  ...                                                 15
561                                                562  ...                                                 12
562                                                563  ...                                                  1
563  United States Census Bureau. B01001 SEX BY AGE...  ...  United States Census Bureau. B01001 SEX BY AGE...

[5 rows x 3 columns]

In [ ]:
# Now we delete last row which is just the description of the table
population_df = population_df.drop([563], axis=0)

In [ ]:
population_df.tail()

    Zip Code  Population
558    98641          22
559    98853          16
560    98852          15
561    99136          12
562    99034           1

In [ ]:

# type conversion
population_df = population_df.astype({"Population": int})

In [ ]:
population_df['Population'].dtypes

dtype('int64')

In [ ]:
population_df.drop(["Rank"], axis = 1, inplace = True)

In [ ]:

population_df.head()

  Zip Code  Population
0    99301       78767
1    98052       67779
2    98012       64417
3    98682       58178
4    98208       57306

**DATA MANIPULATION**

In [ ]:
#extract required information for area zip codes
df1 = population_df[population_df['Zip Code'].isin(['98007','98290','98065','98801','98104']) ]
df1

    Zip Code  Population
25     98801       43291
51     98290       35990
96     98007       29174
189    98065       15548
198    98104       14144

In [ ]:
# reset index 
df1 = df1.reset_index(drop=True)
df1

  Zip Code  Population
0    98801       43291
1    98290       35990
2    98007       29174
3    98065       15548
4    98104       14144

In [ ]:
# make dataframe according to document
facility_id = ['A','B','C','D','E']
facility_area_zip_code = ['98007','98290','98065','98801','98104'] 
facility_staff_count = [21, 52, 43, 9, 64]
df2 = pd.DataFrame({'Facility ID': facility_id,
                         'Zip Code': facility_area_zip_code,
                          'Facility Staff Count': facility_staff_count
                        })
df2

  Facility ID Zip Code  Facility Staff Count
0           A    98007                    21
1           B    98290                    52
2           C    98065                    43
3           D    98801                     9
4           E    98104                    64

In [ ]:
# merge both dataframes df1 & df2 
facilities = pd.merge(df2, df1, on = 'Zip Code')
facilities

  Facility ID Zip Code  Facility Staff Count  Population
0           A    98007                    21       29174
1           B    98290                    52       35990
2           C    98065                    43       15548
3           D    98801                     9       43291
4           E    98104                    64       14144

In [ ]:

# order dataframe
facilities = facilities[['Facility ID', 'Zip Code', 'Population', 'Facility Staff Count']]
facilities

  Facility ID Zip Code  Population  Facility Staff Count
0           A    98007       29174                    21
1           B    98290       35990                    52
2           C    98065       15548                    43
3           D    98801       43291                     9
4           E    98104       14144                    64

In [ ]:
facilities = facilities.rename(columns={'Zip Code': 'Zip_Code'})
facilities

  Facility ID Zip_Code  Population  Facility Staff Count
0           A    98007       29174                    21
1           B    98290       35990                    52
2           C    98065       15548                    43
3           D    98801       43291                     9
4           E    98104       14144                    64

In [ ]:
#extracting poverty data for areas
f98007_poverty_rate=povertystatus_df['S1701_C03_001E']
f98007_poverty_rate[1]
f98290_poverty_rate=f98290_ps_df['S1701_C03_001E']
f98290_poverty_rate[1]
f98065_poverty_rate=f98065_ps_df['S1701_C03_001E']
f98065_poverty_rate[1]
f98801_poverty_rate=f98801_ps_df['S1701_C03_001E']
f98801_poverty_rate[1]
f98104_poverty_rate=f98104_ps_df['S1701_C03_001E']
f98104_poverty_rate[1]

'23.3'

In [ ]:
#creating poverty rate column
facilities['Poverty rate']=""
facilities.loc[facilities.Zip_Code == '98007','Poverty rate']=f98007_poverty_rate[1]
facilities.loc[facilities.Zip_Code == '98290','Poverty rate']=f98290_poverty_rate[1]
facilities.loc[facilities.Zip_Code == '98065','Poverty rate']=f98065_poverty_rate[1]
facilities.loc[facilities.Zip_Code == '98801','Poverty rate']=f98801_poverty_rate[1]
facilities.loc[facilities.Zip_Code == '98104','Poverty rate']=f98104_poverty_rate[1]
facilities

  Facility ID Zip_Code  Population  Facility Staff Count Poverty rate
0           A    98007       29174                    21         10.2
1           B    98290       35990                    52          6.9
2           C    98065       15548                    43          1.3
3           D    98801       43291                     9         11.4
4           E    98104       14144                    64         23.3

In [ ]:
#extracting age data for areas

f98007_under5=f98007_age_df['S0101_C02_002E']
f98007_under5[1]

f98007_70to74=f98007_age_df['S0101_C02_016E']
f98007_70to74[1]

f98007_75to79=f98007_age_df['S0101_C02_017E']
f98007_75to79[1]  

f98007_80to84=f98007_age_df['S0101_C02_018E']
f98007_80to84[1]

f98007_above85=f98007_age_df['S0101_C02_019E']
f98007_above85[1]

'1.8'

In [ ]:
f98290_under5=f98290_age_df['S0101_C02_002E']
f98290_under5[1]

f98290_70to74=f98290_age_df['S0101_C02_016E']
f98290_70to74[1]

f98290_75to79=f98290_age_df['S0101_C02_017E']
f98290_75to79[1]  

f98290_80to84=f98290_age_df['S0101_C02_018E']
f98290_80to84[1]

f98290_above85=f98290_age_df['S0101_C02_019E']
f98290_above85[1]

'0.9'

In [ ]:
f98065_under5=f98065_age_df['S0101_C02_002E']
f98065_under5[1]

f98065_70to74=f98065_age_df['S0101_C02_016E']
f98065_70to74[1]

f98065_75to79=f98065_age_df['S0101_C02_017E']
f98065_75to79[1]  

f98065_80to84=f98065_age_df['S0101_C02_018E']
f98065_80to84[1]

f98065_above85=f98065_age_df['S0101_C02_019E']
f98065_above85[1]

'0.5'

In [ ]:
f98801_under5=f98801_age_df['S0101_C02_002E']
f98801_under5[1]

f98801_70to74=f98801_age_df['S0101_C02_016E']
f98801_70to74[1]

f98801_75to79=f98801_age_df['S0101_C02_017E']
f98801_75to79[1]  

f98801_80to84=f98801_age_df['S0101_C02_018E']
f98801_80to84[1]

f98801_above85=f98801_age_df['S0101_C02_019E']
f98801_above85[1]

'2.8'

In [ ]:
f98104_under5=f98104_age_df['S0101_C02_002E']
f98801_under5[1]

f98104_70to74=f98104_age_df['S0101_C02_016E']
f98104_70to74[1]

f98104_75to79=f98104_age_df['S0101_C02_017E']
f98104_75to79[1]  

f98104_80to84=f98104_age_df['S0101_C02_018E']
f98104_80to84[1]

f98104_above85=f98104_age_df['S0101_C02_019E']
f98104_above85[1]

'4.3'

In [ ]:
#creating age columns
facilities['Age < 5(%)']=""
facilities.loc[facilities.Zip_Code == '98007','Age < 5(%)']=f98007_under5[1]
facilities.loc[facilities.Zip_Code == '98290','Age < 5(%)']=f98290_under5[1]
facilities.loc[facilities.Zip_Code == '98065','Age < 5(%)']=f98065_under5[1]
facilities.loc[facilities.Zip_Code == '98801','Age < 5(%)']=f98801_under5[1]
facilities.loc[facilities.Zip_Code == '98104','Age < 5(%)']=f98104_under5[1]
facilities

  Facility ID Zip_Code  ...  Poverty rate  Age < 5(%)
0           A    98007  ...          10.2         7.2
1           B    98290  ...           6.9         6.3
2           C    98065  ...           1.3         9.9
3           D    98801  ...          11.4         7.0
4           E    98104  ...          23.3         1.0

[5 rows x 6 columns]

In [ ]:
facilities['Age 70-74(%)']=""
facilities.loc[facilities.Zip_Code == '98007','Age 70-74(%)']=f98007_70to74[1]
facilities.loc[facilities.Zip_Code == '98290','Age 70-74(%)']=f98290_70to74[1]
facilities.loc[facilities.Zip_Code == '98065','Age 70-74(%)']=f98065_70to74[1]
facilities.loc[facilities.Zip_Code == '98801','Age 70-74(%)']=f98801_70to74[1]
facilities.loc[facilities.Zip_Code == '98104','Age 70-74(%)']=f98104_70to74[1]

facilities

  Facility ID Zip_Code  Population  ...  Poverty rate Age < 5(%) Age 70-74(%)
0           A    98007       29174  ...          10.2        7.2          2.3
1           B    98290       35990  ...           6.9        6.3          3.8
2           C    98065       15548  ...           1.3        9.9          2.3
3           D    98801       43291  ...          11.4        7.0          3.8
4           E    98104       14144  ...          23.3        1.0          3.0

[5 rows x 7 columns]

In [ ]:
facilities['Age 75-79(%)']=""
facilities.loc[facilities.Zip_Code == '98007','Age 75-79(%)']=f98007_75to79[1]
facilities.loc[facilities.Zip_Code == '98290','Age 75-79(%)']=f98290_75to79[1]
facilities.loc[facilities.Zip_Code == '98065','Age 75-79(%)']=f98065_75to79[1]
facilities.loc[facilities.Zip_Code == '98801','Age 75-79(%)']=f98801_75to79[1]
facilities.loc[facilities.Zip_Code == '98104','Age 75-79(%)']=f98104_75to79[1]
facilities

  Facility ID Zip_Code  Population  ...  Age < 5(%) Age 70-74(%) Age 75-79(%)
0           A    98007       29174  ...         7.2          2.3          1.7
1           B    98290       35990  ...         6.3          3.8          2.3
2           C    98065       15548  ...         9.9          2.3          0.5
3           D    98801       43291  ...         7.0          3.8          3.1
4           E    98104       14144  ...         1.0          3.0          3.8

[5 rows x 8 columns]

In [ ]:
facilities['Age 80-84(%)']=""
facilities.loc[facilities.Zip_Code == '98007','Age 80-84(%)']=f98007_80to84[1]
facilities.loc[facilities.Zip_Code == '98290','Age 80-84(%)']=f98290_80to84[1]
facilities.loc[facilities.Zip_Code == '98065','Age 80-84(%)']=f98065_80to84[1]
facilities.loc[facilities.Zip_Code == '98801','Age 80-84(%)']=f98801_80to84[1]
facilities.loc[facilities.Zip_Code == '98104','Age 80-84(%)']=f98104_80to84[1]
facilities

  Facility ID Zip_Code  Population  ...  Age 70-74(%) Age 75-79(%) Age 80-84(%)
0           A    98007       29174  ...           2.3          1.7          1.4
1           B    98290       35990  ...           3.8          2.3          1.4
2           C    98065       15548  ...           2.3          0.5          0.8
3           D    98801       43291  ...           3.8          3.1          1.7
4           E    98104       14144  ...           3.0          3.8          3.2

[5 rows x 9 columns]

In [ ]:
facilities['Age > 85(%)']=""
facilities.loc[facilities.Zip_Code == '98007','Age > 85(%)']=f98007_above85[1]
facilities.loc[facilities.Zip_Code == '98290','Age > 85(%)']=f98290_above85[1]
facilities.loc[facilities.Zip_Code == '98065','Age > 85(%)']=f98065_above85[1]
facilities.loc[facilities.Zip_Code == '98801','Age > 85(%)']=f98801_above85[1]
facilities.loc[facilities.Zip_Code == '98104','Age > 85(%)']=f98104_above85[1]

facilities

  Facility ID Zip_Code  Population  ...  Age 75-79(%) Age 80-84(%) Age > 85(%)
0           A    98007       29174  ...           1.7          1.4         1.8
1           B    98290       35990  ...           2.3          1.4         0.9
2           C    98065       15548  ...           0.5          0.8         0.5
3           D    98801       43291  ...           3.1          1.7         2.8
4           E    98104       14144  ...           3.8          3.2         4.3

[5 rows x 10 columns]

In [ ]:
# facilities
facilities = facilities.astype({"Age 70-74(%)": float})
facilities = facilities.astype({"Age 75-79(%)": float})
facilities = facilities.astype({"Age 80-84(%)": float})
facilities = facilities.astype({"Age > 85(%)": float})
facilities = facilities.astype({"Age < 5(%)": float})
facilities = facilities.astype({"Poverty rate": float})
#creating priority populaton which is a sum of all the population that may require more healthcare needs
facilities["priority population(%) "] = facilities["Age 70-74(%)"] + facilities["Age 75-79(%)"]+facilities["Age 80-84(%)"] + facilities["Age > 85(%)"]+ facilities["Age < 5(%)"]
# del facilities['priroity population']

facilities

  Facility ID Zip_Code  ...  Age > 85(%)  priority population(%)
0           A    98007  ...          1.8                     14.4
1           B    98290  ...          0.9                     14.7
2           C    98065  ...          0.5                     14.0
3           D    98801  ...          2.8                     18.4
4           E    98104  ...          4.3                     15.3

[5 rows x 11 columns]

In [ ]:
#drop unnecessary columns
facilities=facilities.drop(['Age < 5(%)', 'Age 70-74(%)','Age 75-79(%)', 'Age 80-84(%)', 'Age > 85(%)'], axis=1)
facilities

  Facility ID Zip_Code  ...  Poverty rate  priority population(%)
0           A    98007  ...          10.2                     14.4
1           B    98290  ...           6.9                     14.7
2           C    98065  ...           1.3                     14.0
3           D    98801  ...          11.4                     18.4
4           E    98104  ...          23.3                     15.3

[5 rows x 6 columns]

In [ ]:
facilities.to_csv(r 'Structured_data.csv')